
<div id="row">
  <div class="sidebar-show">
    <span class="genre-search"><a href="/videos/show/" class="genre">Genre</a></span>
    <br>
    <span class="views-search"><a href="" class="views">Views</a></span>
    <br>
    <form action="/videos/search"method="get">
    <span class="search">
      <input type="text" class="search"><button>Search</button>
    </span>
    </form>
  </div>
</div>

<div class="row">
    <div class="card">
      <div class="card-content white-text">
        <span class="card-title"><%= @video['title'] %></span>
        <p><%= @video['description'] %></p>
      </div>
      <div class="iframe">
        <iframe width="510" height="315" src="https://www.youtube.com/embed/<%= @video['url'][-11..-1] %>" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="card-action">
        <a href="/videos/<%= @video['id'] %>/edit">edit</a>
        <form action="/videos/<%= @video['id'] %>/delete" method="post">
          <button class="fake-link">delete</button>
        </form>
      </div>
    </div>
  </div>
</div>


